.demo-container {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
}

.dx-card {
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

::ng-deep .dx-cardview-card:not(.dx-cardview-card-selection) .dx-cardview-card-header .dx-icon {
  color: var(--dx-color-link);
}
